.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 126px auto 0 425px;
  padding: 10px 48px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 30px auto 0 425px;
  padding: 10px 19px 10px 18px;
}

.u-section-1 .u-text-1 {
  margin: 39px 470px 60px;
}

.u-section-1 .u-btn-3 {
  padding: 0;
}

.u-section-1 .u-icon-1 {
  margin-top: 2px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-left: 325px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 325px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 370px;
    margin-right: 370px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    margin-left: 215px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 215px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 260px;
    margin-right: 260px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-1 {
    margin-left: 125px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 125px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 170px;
    margin-right: 170px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-btn-1 {
    margin-left: 25px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 25px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 70px;
    margin-right: 70px;
  }
}